header {
  background: dodgerblue;
  text-transform: uppercase;
  padding: 10px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav_and_output {
  display: flex;
  width: 100%;
}
nav {
  min-width: 200px;
  height: calc(100vh - 41px);
  position: sticky;
  left: 0;
  top: 41px;
}
nav ul {
  list-style-type: none;
  padding-left: 10px;
}
.cities_toggle {
  padding: 5px 0;
  cursor: pointer;
  position: relative;
}
.cities_toggle::after {
  position: absolute;
  content: "\25bc";
  color: dodgerblue;
  right: 5px;
  transition: transform 0.5s;
}
.cities_toggle.active::after {
  transform: rotate(180deg);
}
.cities {
  height: 0;
  overflow: hidden;
  transition: height 1s;
}
@media (max-width: 500px) {
  nav.visible {
    width: 100%;
  }
  nav.visible ~ * {
    display: none !important;
  }
}
